/*Main CSS*/

/******Global CSS implementations******/

@font-face {
  font-family: 'MyriadPro-Regular';
  src: url('../text/MyriadPro-Regular.otf');
}

@font-face {
  font-family: 'Avenir-Roman';
  src: url('../text/avenir-roman.ttf');
}

* {
  margin: 0;
  padding: 0;
}

.navbar-list a:hover {
  text-decoration: none;
  color: #F0E68C;
}

#body-color {
  background-color: pink
}

h1 {
  padding:100px 0px 50px 0px;
}

/*h2 {
  padding:100px 0px 50px 0px;
  margin-top: -10px!important;
  font-size: 50px!important;
}*/

#featured-events-header {
  padding:100px 0px 50px 0px;
  margin-top: -10px;
  font-size: 50px;
}

.name {
  margin-left: 10px;
  font-family: Avenir-Roman;
}

.date {
  margin-left: 10px;
  font-size: 18px;
  font-family: Avenir-Roman;
}

p, p1 {
  font-size: 16px;
}

/******* Navbar *********/

.navbar {
  padding: 15px;
  margin-bottom: -15px;
}

.navbar-inverse {
  background-color: rgba(0, 0, 0, 0)!important;
  border: none !important;
}

.navbar-list {
  font-size: 25px;
  margin-left: 20px;
  font-family: Avenir;
}

.navbar-nav {
  margin: 10px !important;
}

@media (min-width: 768px) and (max-width: 1010px) {
  .navbar-toggle {
    display: none!important;
  }
}

.navbar-inverse .navbar-nav>li>a {
  color: white!important;
}

.navbar-inverse .navbar-nav>li>a:hover {
  color: #41f9ef!important;
}

/******* SVG Background for Landing Page CSS *********/

/*CSS code for bg, imported from illustrator*/

.st0{fill:#C1791A;}
.st1{fill:#63AD51;}
.st2{opacity:0.1;fill:#070506;enable-background:new    ;}
.st3{fill:#33210D;}
.st4{fill:#A3685A;}
.st5{fill:#FF8888;}
.st6{fill:#B7B6B6;}
.st7{fill:#8E8E8E;}
.st8{fill:#F9F9F9;}
.st9{fill:#FFFFFF;}
.st10{opacity:0.46;fill:#FEFFFD;enable-background:new    ;}
.st11{opacity:0.42;fill:#FEFFFD;enable-background:new    ;}
.st12{opacity:0.47;fill:#FFFFFF;enable-background:new    ;}
.st13{fill:#4289FC;}
.st14{fill:#48ACAF;}
.st15{display:none;fill:#BA8125;}
.st16{fill:#363A51;}
.st17{fill:#FED9B9;}
.st18{fill:#E27126;}
.st19{fill:#AAAAAA;}
.st20{fill:#8AD5E8;}
.st21{fill:#D3BBA9;}
.st22{fill:#D8D8D8;}
.st23{fill:#070707;}
.st24{fill:#9B4719;}
.st25{fill:#070506;}
.st26{fill:#1363A5;}
.st27{fill:#124D6D;}
.st28{fill:#C1C1C1;}
.st29{opacity:0.54;fill:#8E8E8E;enable-background:new    ;}
.st30{fill:#A5A0A0;}
.st31{fill:#969696;}
.st32{fill:#8C8C8C;}
.st33{fill:#EEA153;}
.st34{fill:#E17126;}
.st35{fill:#161616;}
.st36{fill:#FDEA3D;}
.st37{fill:#C6B66A;}
.st38{fill:#8C591C;}
.st39{fill:#FCFCFC;}
.st40{fill:#020202;}
.st41{fill:#FCFCFC;stroke:#8C591C;stroke-width:1.6509;stroke-miterlimit:10;}
.st42{fill:#D3D3D1;}
.st43{fill:none;stroke:#FFFF6E;stroke-width:0.2214;stroke-miterlimit:10;}
.st44{fill:#C90E5B;}
.st45{fill:#C45376;stroke:#F8DCE2;stroke-width:0.4378;stroke-miterlimit:10;}
.st46{fill:#FDED4D;}
.st47{fill:#C45376;stroke:#F8DCE2;stroke-width:0.3178;stroke-miterlimit:10;}
.st48{fill:#C45376;stroke:#F8DCE2;stroke-width:0.3667;stroke-miterlimit:10;}
.st49{fill:#C45376;stroke:#F8DCE2;stroke-width:0.4299;stroke-miterlimit:10;}
.st50{fill:#C45376;stroke:#F8DCE2;stroke-width:0.3293;stroke-miterlimit:10;}
.st51{fill:#F8DCE2;stroke:#C45376;stroke-width:0.4227;stroke-miterlimit:10;}
.st52{fill:#F8DCE2;stroke:#C45376;stroke-width:0.4908;stroke-miterlimit:10;}
.st53{fill:#F8DCE2;stroke:#C45376;stroke-width:0.3165;stroke-miterlimit:10;}
.st54{fill:#F8DCE2;stroke:#C45376;stroke-width:0.3504;stroke-miterlimit:10;}
.st55{opacity:0.31;fill:#383838;enable-background:new    ;}
.st56{enable-background:new    ;}
.st57{font-family:'MrEavesModOT-Reg';}
.st58{font-size:40px;}
.st59{font-family:'ArialMT';}
.st60{font-size:32.3912px;}
.st61{fill:#298AE2;}
.st62{fill:#84343E;}
.st63{fill:#EAE7E4;}
.st64{fill:#DBDAD9;}
.st65{fill:#C19774;}
.st66{fill:#0F0F0F;}

/*svg animation section actions*/
.svg-sakura {
  margin-top: -120px;
}

.svg-sakura .petal-fall {
  -webkit-animation: petalfall 7s infinite ease-in;
  -moz-animation:petalfall 7s infinite ease-in;
  -ms-animation:petalfall 7s infinite ease-in;
  animation:petalfall 7s infinite ease-in;
}

.svg-sakura .petal-fall:nth-child(1) { animation-delay: 0s; }
.svg-sakura .petal-fall:nth-child(2) { animation-delay: 0.5s; }
.svg-sakura .petal-fall:nth-child(3) { animation-delay: 1s; }
.svg-sakura .petal-fall:nth-child(4) { animation-delay: 1.5s; }
.svg-sakura .petal-fall:nth-child(5) { animation-delay: 2s; }
.svg-sakura .petal-fall:nth-child(6) { animation-delay: 2.5s; }
.svg-sakura .petal-fall:nth-child(7) { animation-delay: 3s; }
.svg-sakura .petal-fall:nth-child(8) { animation-delay: 3.5s; }

@keyframes petalfall {
  0% { opacity: 1; }
  10% { transform: translateY(5px) translateX(10px); }
  20% { transform: translateY(10px) translateX(-10px); }
  30% { transform: translateY(15px) translateX(10px); }
  40% { transform: translateY(20px) translateX(-10px); }
  50% { transform: translateY(25px) translateX(10px); }
  60% { transform: translateY(30px) translateX(-10px); }
  70% { transform: translateY(35px) translateX(10px); }
  80% { transform: translateY(40px) translateX(-10px); }
  90% { transform: translateY(45px) translateX(10px); }
  100% { opacity: 0 }
}

@-webkit-keyframes petalfall {
  0% { opacity: 1; }
  10% { transform: translateY(5px) translateX(10px); }
  20% { transform: translateY(10px) translateX(-10px); }
  30% { transform: translateY(15px) translateX(10px); }
  40% { transform: translateY(20px) translateX(-10px); }
  50% { transform: translateY(25px) translateX(10px); }
  60% { transform: translateY(30px) translateX(-10px); }
  70% { transform: translateY(35px) translateX(10px); }
  80% { transform: translateY(40px) translateX(-10px); }
  90% { transform: translateY(45px) translateX(10px); }
  100% { opacity: 0 }
}

@-moz-keyframes petalfall {
  0% { opacity: 1; }
  10% { transform: translateY(5px) translateX(10px); }
  20% { transform: translateY(10px) translateX(-10px); }
  30% { transform: translateY(15px) translateX(10px); }
  40% { transform: translateY(20px) translateX(-10px); }
  50% { transform: translateY(25px) translateX(10px); }
  60% { transform: translateY(30px) translateX(-10px); }
  70% { transform: translateY(35px) translateX(10px); }
  80% { transform: translateY(40px) translateX(-10px); }
  90% { transform: translateY(45px) translateX(10px); }
  100% { opacity: 0 }
}

@-o-keyframes petalfall {
  0% { opacity: 1; }
  10% { transform: translateY(5px) translateX(10px); }
  20% { transform: translateY(10px) translateX(-10px); }
  30% { transform: translateY(15px) translateX(10px); }
  40% { transform: translateY(20px) translateX(-10px); }
  50% { transform: translateY(25px) translateX(10px); }
  60% { transform: translateY(30px) translateX(-10px); }
  70% { transform: translateY(35px) translateX(10px); }
  80% { transform: translateY(40px) translateX(-10px); }
  90% { transform: translateY(45px) translateX(10px); }
  100% { opacity: 0 }
}

@-ms-keyframes petalfall {
  0% { opacity: 1; }
  10% { transform: translateY(5px) translateX(10px); }
  20% { transform: translateY(10px) translateX(-10px); }
  30% { transform: translateY(15px) translateX(10px); }
  40% { transform: translateY(20px) translateX(-10px); }
  50% { transform: translateY(25px) translateX(10px); }
  60% { transform: translateY(30px) translateX(-10px); }
  70% { transform: translateY(35px) translateX(10px); }
  80% { transform: translateY(40px) translateX(-10px); }
  90% { transform: translateY(45px) translateX(10px); }
  100% { opacity: 0 }
}

#clouds {
  position: absolute;
  -webkit-animation:drift 100s linear infinite forwards;
  -moz-animation:drift 100s linear infinite forwards;
  -ms-animation:drift 100s linear infinite forwards;
  animation: drift 100s linear infinite forwards;
}

@-webkit-keyframes drift {
  0%   { opacity: 1; -webkit-transform: translateX(-10px); }
  50%  { opacity: 0.75; }
  100% { opacity: 0.25; -webkit-transform: translateX(-100%);}
}

@-moz-keyframes drift {
  0%   { opacity: 1; -moz-transform: translateX(-10px); }
  50%  { opacity: 0.75; }
  100% { opacity: 0.25;-moz-transform: translateX(-100%); }
}

@-o-keyframes drift {
  0%   { opacity: 1; -o-transform: translateX(-10px); }
  50%  { opacity: 0.75; }
  100% { opacity: 0.25; -o-transform: translateX(-100%); }
}

@-ms-keyframes drift {
  0%   { opacity: 1; -ms-transform: translateX(-10px); }
  50%  { opacity: 0.75; }
  100% { opacity: 0.25; -ms-transform: translateX(-100%); }
}

@keyframes drift {
  0%   { opacity: 1;transform: translateX(-10px); }
  50%  { opacity: 0.75; }
  100% { opacity: 0.25;transform: translateX(-100%); }
}

/*@keyframes shake {
  50% { transform: rotate(1deg) }
  75% { transform: rotate(-1deg) }
}*/
/******* Additional SVG Text for Landing Page CSS *********/

.logo-saku {
  margin-left: 20px;
  width: 400px;
}

.square {
  width: 800px;
  height: 250px;
  background-color: black;
  opacity: 0.5;
  margin-left: 50px;
  margin-top: -65px;
}

#header-description {
  z-index: 999;
  font-family: Avenir;
  color: white;
  font-size: 48px;
  top: 3.0em;
  position: relative;
  margin-left: 75px;
}

#event_layer {
  width: 300px;
  position: relative;
  top: 10.6em;
  margin-left: 55px;
  z-index: 999;
}

/*optimizing for x-large screens for text background*/
  @media only screen and (min-width: 1200px){
    .button_sliding_bg {
        z-index: 999;
        position: absolute;
        top: 140px;
        left: 470px;
        color: white;
        padding: 15px 50px;
        margin: 25px;
        font-family: 'OpenSansBold', sans-serif;
        border: 3px solid white;
        font-size: 25px;
        font-weight: bold;
        letter-spacing: 1px;
        text-transform: uppercase;
        border-radius: 2px;
        display: inline-block;
        text-align: center;
        cursor: pointer;
        box-shadow: inset 500px 0 0 0 grey;
    	  -webkit-transition: all ease 1.5s;
    	  -moz-transition: all ease 1.5s;
    	  transition: all ease 1.5s;
    }
    .button_sliding_bg:hover {
        box-shadow: inset 500px 0px 0 0 #15d0cb;
        color: white;
      }

      .black-bg {
        position: absolute;
        top: 150px;
        left: 40px;
        background: black;
        width: 800px;
        height: 250px;
        background-color:rgba(0,0,0,0.5);
        -webkit-transition: left 1.5s;
        -moz-transition: left 1.5s;
        transition: left 0.5s;
      }

      #jap-title {
        z-index: 999;
        position: absolute;
        top: -100px;
        left: 29px;
        font-family: 'OpenSansBold' sans-serif;
        text-transform: uppercase;
        color: white;
        font-size: 40px;
      }
  }

/*optimizing for large + big tablet screens for text background*/

@media (max-width: 1200px){
  .button_sliding_bg {
      z-index: 999;
      position: absolute;
      top: 80px;
      left: 20px;
      color: white;
      padding: 20px 50px;
      margin: 25px;
      font-family: 'OpenSansBold', sans-serif;
      border: 3px solid white;
      font-size: 15px;
      font-weight: bold;
      letter-spacing: 1px;
      text-transform: uppercase;
      border-radius: 2px;
      display: inline-block;
      text-align: center;
      cursor: pointer;
      box-shadow: inset 0 0 0 0 #15d0cb;
      -webkit-transition: all ease 1.5s;
      -moz-transition: all ease 1.5s;
      transition: all ease 1.5s;
  }
  .button_sliding_bg:hover {
      box-shadow: inset 500px 0px 0 0 #15d0cb;
      color: white;
    }

    .black-bg {
      position: absolute;
      top: 150px;
      left: 40px;
      background: black;
      width: 700px;
      height: 200px;
      background-color:rgba(0,0,0,0.5);
      -webkit-transition: left 1.5s;
      -moz-transition: left 1.5s;
      transition: left 0.5s;
    }

    #jap-title {
      z-index: 999;
      position: absolute;
      top: -100px;
      left: 28px;
      font-family: 'OpenSansBold' sans-serif;
      text-transform: uppercase;
      color: white;
      font-size: 35px;
    }
}

/*optimizing for large phones + small phones*/

@media (max-width: 800px){
  .button_sliding_bg {
      z-index: 999;
      position: absolute;
      top: 60px;
      left: 15px;
      color: white;
      padding: 10px 30px;
      margin: 25px;
      font-family: 'OpenSansBold', sans-serif;
      border: 3px solid white;
      font-size: 15px;
      font-weight: bold;
      letter-spacing: 1px;
      text-transform: uppercase;
      border-radius: 2px;
      display: inline-block;
      text-align: center;
      cursor: pointer;
      box-shadow: inset 0 0 0 0 #15d0cb;
      -webkit-transition: all ease 1.5s;
      -moz-transition: all ease 1.5s;
      transition: all ease 1.5s;
  }
  .button_sliding_bg:hover {
      box-shadow: inset 500px 0px 0 0 #15d0cb;
      color: white;
    }

    .black-bg {
      position: absolute;
      top: 150px;
      left: 40px;
      background: black;
      width: 500px;
      height: 150px;
      background-color:rgba(0,0,0,0.5);
      -webkit-transition: left 1.5s;
      -moz-transition: left 1.5s;
      transition: left 0.5s;
    }

    #jap-title {
      z-index: 999;
      position: absolute;
      top: -100px;
      left: 25px;
      font-family: 'OpenSansBold' sans-serif;
      text-transform: uppercase;
      color: white;
      font-size: 25px;
    }
}

/*
header {
  height: 850px;
  width: 100%;
}*/

/******* Map CSS *********/

.event-icon {
  width: 150px;
}

/******* Event Card CSS *********/
.event-preview-card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 500px;
  margin: 6rem;
  position: relative;
  width: 300px;

  box-shadow: 0px 14px 28px rgba(0,0,0,0.25),
  0 10px 10px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.image-preview {
  width: 300px;
}

.events-selector {
  position: relative;
  background-color: pink;
}

.learn-more-button {
  margin-top: 10px;
  display: inline-block;
  border-radius: 23px;
  border: 3px solid #2E3192;
  background-color: #00AEEF;
  width: 170px;
  line-height: 40px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.learn-more-button:hover {
  transform: scale(1.1);
}

.learn-more-text {
  font-family: Avenir-Roman;
  color: white;
  font-size: 18px;
}


/******* Footer CSS *********/
footer {
  min-height: 100%;
  background-color: black;
}

.footer-text {
  margin-top: 50px;
  font-size: 28px;
  color: white;
}

.copyright-text {
  color: white;
  font-size: 30px;
}

/******* Map CSS *********/

.Map {
  margin-top: 100px;
  margin-left: 15%;
}

.map {
  width: 50%;
  height: 0;
  margin: 0 auto;
  padding-top: 50%;
  position: relative;
}

#map_wrapper {
  margin-top: 100px;
}

#map_wrapper {
  margin-top: 100px;
}

/******* EventPage CSS *********/

.event-image {
  width: 300px;
  float: left;
  margin-left: 200px;
  border-radius: 200px;
}
.comment-button {
  margin-top: 10px;
  display: inline-block;
  border-radius: 3px;
  border: 3px solid #2E3192;
  background-color: #00AEEF;
  width: 170px;
  line-height: 40px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.comment-button:hover {
  background-color: #2b7490;
}

.comment-text {
font-family: Avenir-Roman;
color: white;
font-size: 18px;
}

/* music icon actions */

@-webkit-keyframes turn {
  0% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
}

@keyframes turn {
  0% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
}

/*genre selection css*/
.genre-icon {
  width: 20em;
}

.genre-info {
  margin-right: 10px;
}



/* music icon actions */

@-webkit-keyframes turn {
  0% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
}

@keyframes turn {
  0% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
}


/* soundcloud player css */
.sb-soundplayer-progress-container {
    background-color: rgba(0,0,0,.25);;
    width: 90%;
    height: 10px;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 10px;
}

.sb-soundplayer-progress-inner {
    background-color: #FC561E;
    height: 100%;
    -webkit-transition: width .2s ease-in;
            transition: width .2s ease-in;
}

.player-box {
  margin-top: 10px;
  border: solid black 2px;
  background-color: #cccccc;
}

.sb-soundplayer-play-icon {
  width: 1em;
  height: 1em;
  fill: orange;
}

.button-transparent {
  background-color: Transparent;
  border: none;
  display: inline-block;
  font-size: 30px;
}

#j-pop-bg {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.45),
      rgba(0, 0, 0, 0.45)
    ),
    url('../../images/j-pop-bg.png');
    height: 300px;
}

#j-rock-bg {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.45),
      rgba(0, 0, 0, 0.45)
    ),
    url('../../images/j-rock-bg.png');
    height: 300px;
}

#j-electro-bg {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.45),
      rgba(0, 0, 0, 0.45)
    ),
    url('../../images/j-electro-bg.png');
    height: 300px;
}

.song-name {
  color: white;
}

.sb-soundplayer-progress-container {
  display: inline-block;
  margin-left: 20px;
}

/***React-router slider CSS***/
