#about {
  margin:-30px 0px 0px 0px;
  background-color:#e699ff;
  padding: 0px 20px 50px 0px;
  text-align: center;
}

#now {
  margin:-30px 0px 0px 0px;
  background-color:white;
  padding: 0px 20px 20px 0px;
  text-align: center;
}
#genre {
  margin:-30px 0px 0px 0px;
  background-color: #e699ff;
  padding: 0px 20px 20px 0px;
  text-align: center;
}

.about-genre {
    background-color: #e699ff;
    padding-bottom: 50px;
}
.gen {
  background-color: #e699ff;
}

#j-traditional {
  /*margin-left: 100px;*/
  cursor: pointer;
}

#j-electro {
  /*margin-left: 100px;*/
  cursor: pointer;
}

#j-rap {
  /*margin-left: 100px;*/
  cursor: pointer;
}

#about-artist {
  padding: 25px 0px 50px 0px;
}

#now-playing {
  padding-bottom: -50px;
}

#city-description {
  margin: 50px 0px 50px 0px;
}

#para {
  text-align:center;
  margin: 50px 50px 0px 50px;
}

#soundcloud_widget {
  margin-top: 50px;
}

#info {
  font-color:green;
}

#skirt:hover{
  fill:blue;
}

#myModalLabel {
  font-size: 30px;
}

.modal-header {
  background-color: #ffccff;
}

#myModal {
  background-position: fixed;
}

/* Note: from st-7 to st-19 had strokes, manually removed them to fix for safari */
.rowWithFullWidth, .genrerow{
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.react-data {
    margin-top: 120px;
}

#copyright {
background-color: black;
height: 100px;
}

#copy-pp {
padding-top: 40px;
color: white;
font-size: 17px;
}


.map {
  width: 50%;
  height: 0;
  margin: 0 auto;
  padding-top: 50%;
  position: relative;
}

#cities {
  padding: 50px 0px 100px 0px;
}

.cities {
  margin-bottom: 50px;
}

.caption:hover {
  background-color: #eee;
  cursor: pointer;
}

.action-button {
  position: relative;
  padding: 10px 40px;
  margin: 0px 50px 50px 0px;
  border-radius: 10px;
  font-size: 25px;
  color: #FFF;
  text-decoration: none !important;
}

.action-button:hover {
  color: #FFF;
  cursor: pointer;
}

.action-button:active {
  transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
  border-bottom: 1px solid;
}

.animate {
transition: all 0.1s;
-webkit-transition: all 0.1s;
}

.blue {
  background-color: #3498DB;
  border-bottom: 5px solid #2980B9;
  text-shadow: 0px -2px #2980B9;
}

.red {
  background-color: #E74C3C;
  border-bottom: 5px solid #BD3E31;
  text-shadow: 0px -2px #BD3E31;
}

.green {
  background-color: #82BF56;
  border-bottom: 5px solid #669644;
  text-shadow: 0px -2px #669644;
}

.yellow {
  background-color: #FFDD46;
  border-bottom: 5px solid #b4991f;
  text-shadow: 0px -2px #b4991f;
}

#map_wrapper {
  margin-top: 100px;
}

#song {
  font-size: 30px;
}

@-webkit-keyframes turn {
  0% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
}

@keyframes turn {
  0% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
}

/* music icon actions */


.music-genres {
  background-color: #e699ff;
  padding-bottom: 100px;
}

.genre-text {
  background-color: white;
  padding-bottom: 30px;
  display: none;
}

.learn-more:hover {
  text-decoration: underline;
  color: blue
}

.navbar {
  padding: 20px;
  font-size: 1.6em;
}

.page-scroll {
  margin-left: 50px;
}

/* navbar line animation */

.navbar-default .navbar-nav>li>a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.navbar-default .navbar-nav>li>a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

#proj-logo {
  margin-top: -50px;
  margin-left: -40px;
}

.Map {
  margin-top: 100px;
  margin-left: 15%;
}

.post-info {
  margin-top: 100px;
}

.event-icon {
  border-radius: 50%;
}

/*genre bg css*/
.genre-bg {
  width: 1000px;
  height: 330px;
}

ul.img-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

ul.img-list li {
  display:inline-block;
  margin: 0 1em 1em 0;
  position: relative;

}

span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  width: 1000px;
  height: 330px;
  left: 0;
  font-size: 5em;
  position: absolute;
  top: 0;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

ul.img-list li:hover span.text-content {
  opacity: 1;
}
