/*props for svg bg image */
.st0 {
  fill:#14d2d5
}

.st1 {
  fill:#c1215f
}

.st2 {
  fill:#5CB85C
}

.st3 {
  fill:#98a0a4
}

.st4 {
  fill:#6a6b6b
}

.st5 {
  fill:#fff
}

.st6 {
  fill:#f9f9f9
}

.st7 {
 fill:#f078f4
}

.st8 {
 fill:#f9f946
}

.st9 {
 fill:#f9b0ff
}

.st10,.st11,.st12 {
  fill:#f078f4
}

.st13,.st14,.st15,.st16,.st17 {
  fill:#f9f946
}

.st18,.st19 {
  fill:#f078f4
}

.st20 {
  fill:#050505
}

.st21 {
  fill:#7ac043
}

.st22,.st23,.st24,.st25,.st26 {
  fill:#f078f4;
  stroke:#f9b0ff;
  stroke-width:.1033;
  stroke-miterlimit:10
}

.st23,.st24,.st25,.st26 {
  stroke-width:5.845223e-2
}

.st24,.st25,.st26 {
  stroke-width:5.549387e-2
}

.st25,.st26 {
  stroke-width:7.508805e-2
}

.st26 {
  stroke-width:7.167563e-2
}

.st27,.st28,.st29,.st30,.st31,.st32,.st33,.st34,.st35 {
  fill:#f078f4;stroke:#f9b0ff;stroke-width:6.373883e-2;stroke-miterlimit:10
}

.st28,.st29,.st30,.st31,.st32,.st33,.st34,.st35 {
  stroke-width:7.171731e-2
}

.st29,.st30,.st31,.st32,.st33,.st34,.st35 {
  stroke-width:5.925376e-2
}

.st30,.st31,.st32,.st33,.st34,.st35 {
  stroke-width:5.274667e-2
}

.st31,.st32,.st33,.st34,.st35 {
  stroke-width:5.07069e-2
}

.st32,.st33,.st34,.st35 {
  stroke-width:7.280503e-2
}

.st33,.st34,.st35 {
  stroke-width:7.241028e-2
}

.st34,.st35 {
  fill:#f9f946;stroke-width:7.826569e-2
}

.st35 {
  stroke-width:6.418672e-2
}

.st36,.st37,.st38,.st39,.st40,.st41,.st42,.st43,.st44 {
  fill:#f9f946;stroke:#f9b0ff;stroke-width:6.76967e-2;stroke-miterlimit:10
}

.st37,.st38,.st39,.st40,.st41,.st42,.st43,.st44 {
  stroke-width:.1243
}

.st38,.st39,.st40,.st41,.st42,.st43,.st44 {
  stroke-width:6.91906e-2
}

.st39,.st40,.st41,.st42,.st43,.st44 {
  stroke-width:9.079882e-2
}

.st40,.st41,.st42,.st43,.st44 {
  stroke-width:6.45097e-2
}

.st41,.st42,.st43,.st44 {
  stroke-width:8.865573e-2
}

.st42,.st43,.st44 {
  stroke-width:6.313623e-2
}

.st43,.st44 {
  stroke-width:9.678175e-2
}

.st44 {
  stroke-width:6.932648e-2
}

.st45,.st46,.st47,.st48,.st49,.st50,.st51,.st52,.st53 {
  fill:#f9f946;
  stroke:#f9b0ff;
  stroke-width:8.299019e-2;
  stroke-miterlimit:10
}

.st46,.st47,.st48,.st49,.st50,.st51,.st52,.st53 {
  stroke-width:5.782482e-2
}

.st47,.st48,.st49,.st50,.st51,.st52,.st53 {
  stroke-width:8.795142e-2
}

.st48,.st49,.st50,.st51,.st52,.st53 {
  stroke-width:5.582425e-2
}

.st49,.st50,.st51,.st52,.st53 {
  stroke-width:7.041004e-2
}

.st50,.st51,.st52,.st53 {
  fill:#f078f4;stroke-width:9.256468e-2
}

.st51,.st52,.st53 {
  stroke-width:5.761964e-2
}

.st52,.st53 {
  fill:#f9f946;stroke-width:6.864597e-2
}

.st53 {
  stroke-width:.1043
}

.st54,.st55,.st56,.st57,.st58,.st59,.st60,.st61 {
  fill:#f078f4;
  stroke:#f9b0ff;
  stroke-width:6.068968e-2;
  stroke-miterlimit:10
}

.st55,.st56,.st57,.st58,.st59,.st60,.st61 {
  stroke-width:4.775653e-2
}
.st56,.st57,.st58,.st59,.st60,.st61 {
  stroke-width:4.052805e-2
}

.st57,.st58,.st59,.st60,.st61 {
  fill:#f9f946;
  stroke-width:4.185602e-2
}

.st58,.st59,.st60,.st61 {
  stroke-width:5.614851e-2
}

.st59,.st60,.st61 {
  fill:#f078f4;
  stroke-width:4.448918e-2
}

.st60,.st61 {
  fill:#f9f946;
  stroke-width:5.121582e-2
}

.st61 {
  fill:#f078f4;
  stroke-width:3.618896e-2
}

.st62,.st63,.st64,.st65,.st66,.st67,.st68 {
  fill:#f9f946;
  stroke:#f9b0ff;
  stroke-width:8.047333e-2;
  stroke-miterlimit:10
}

.st63,.st64,.st65,.st66,.st67,.st68 {
  stroke-width:6.534137e-2
}

.st64,.st65,.st66,.st67,.st68 {
  fill:#f078f4;
  stroke-width:5.183289e-2
}

.st65,.st66,.st67,.st68 {
  stroke-width:4.331146e-2
}

.st66,.st67,.st68 {
  stroke-width:7.586213e-2
}

.st67,.st68 {
  stroke-width:3.851693e-2
}

.st68 {
  stroke-width:7.534631e-2
}

.st69 {
  fill:#59c9ef
}

.st70 {
  fill:#dd4376
}

.st71 {
  fill:#c4c4c4
}

.st72 {
  fill:#f94679
}

.st73 {
  fill:#938f90
}

.st74 {
  fill:#f9d4a7
}

.st75 {
  fill:#494642
}

.st76 {
  fill:#cbf7f7
}

.st77 {
  fill:#3a3aef
}

.st78 {
  fill:#1362b7
}

.st79 {
  fill:#f9f
}

.st80 {
  font-family:'Orbitron-Regular';
}

.st81 {
  font-size:200px
}

.st83 {
  fill:#ec7d29
}

/* Learn More Button */

.st703{fill:#CD1076;}
.st704{fill:none;}
.st705{fill:#FFFDFE;}
.st706{font-family:'HelveticaNeue';}
.st707{font-size:70px;}

#Learn_button:hover {
  cursor: pointer;
}


/* css for jpop icon */

.st100000 {
  fill:#27d6f2
}

.st101 {
  fill:#ee407f
}

.st103 {
  display:inline;
  fill:#a9a8a8
}

.st104,.st106,.st107 {
  display:inline;
  fill:#db4b9b
}

.st106,.st107 {
  fill:#9c3571
}

.st107 {
  fill:#dbd9d9
}

.st108 {
  fill:#eaa1c7
}

.st109 {
  fill:#ee4494
}

.st110 {
  fill:#fef8fb
}

.st111,.st112 {
  fill:#fef8fb;
  stroke:#ed218e;
  stroke-width:8;
  stroke-miterlimit:10
}

.st112 {
  display:inline;
  fill:none;
  stroke:#7dd1e9;
  stroke-width:4
}

.st114 {
  display:inline;
  fill:#58595a
}

.st115 {
  fill:#d485b8
}

.st115,.st117 {
  display:inline
}

.st118 {
  fill:none
}

.st119,.st120 {
  fill:#7f777f
}

.st120{display:inline}.st121{fill:#ffe1c0}.st122{fill:#ebe84b}.st123{fill:#a95aa3}.st124{display:inline;fill:#7dd1e9}.st126{fill:#825422}.st127,.st128,.st129{display:inline;fill:#825422;stroke:#825422;stroke-width:7.874;stroke-miterlimit:10}.st128,.st129{fill:#262524;stroke:#262524;stroke-width:5.5056}.st129{stroke-width:3.4877}.st130,.st131{display:inline;fill:#1b1a1b}.st131{fill:#757273}.st232{fill:#d13fef}

/*props for miku svg */

.st100 {
  fill:#63bc49
}

.st101 {
  fill:#ee407f
}

.st102 {
  fill:#a9a8a8
}

.st103 {
  display:none
}

.st104,.st105 {
  display:inline;
  fill:#db4b9b
}

.st105 {
  fill:#58595a;
  stroke:none;
  stroke-width:5;
  stroke-miterlimit:10
}

.st106,.st107,.st108 {
  display:inline;fill:#d485b8
}

.st107,.st108 {
  fill:#dbd9d9
}

.st108 {
  fill:#eaa1c7
}

.st109 {
  fill:#ee4494
}

.st109,.st110 {
  display:inline
}

.st111,.st112 {
  fill:#fef8fb
}

.st112 {
  display:inline;
  stroke:#ed218e;
  stroke-width:8;
  stroke-miterlimit:10
}

.st113,.st114{fill:none;stroke-miterlimit:10}.st113{stroke-width:4;stroke:#7dd1e9}.st114{stroke:#000}.st115{fill:#58595a}.st116{fill:#d485b8}.st117{display:inline;fill:#ece830}.st118{fill:none}.st119,.st120{fill:#7f777f}.st120{display:inline}.st121{fill:#ffe1c0}.st122,.st123,.st124{display:inline;fill:#ee407f}.st123,.st124{fill:#ebe84b}.st124{fill:#a95aa3}.st125{fill:#7dd1e9}.st126{display:inline}.st126,.st127{fill:#825422}.st128,.st129,.st130{display:inline;fill:#825422;stroke:#825422;stroke-width:7.874;stroke-miterlimit:10}.st129,.st130{fill:#262524;stroke:#262524;stroke-width:5.5056}.st130{stroke-width:3.4877}.st131,.st132{display:inline;fill:#1b1a1b}.st132{fill:#757273}.st133{fill:#8ba2d4}

/*J-Rock SVG */

.st10000{fill:#5c56a5}.st101{fill:#ee407f}.st103{display:inline;fill:#a9a8a8}.st104{fill:#db4b9b}.st1005{display:inline;fill:none;stroke:#9c3571;stroke-width:5;stroke-miterlimit:10}.st106,.st107,.st108{display:inline;fill:#9c3571}.st107,.st108{fill:#dbd9d9}.st108{fill:#eaa1c7}.st109{fill:#ee4494}.st109,.st110{display:inline}.st111{fill:#fef8fb}.st112,.st113,.st114{display:inline;stroke-miterlimit:10}.st112{stroke:#ed218e;stroke-width:8;fill:#fef8fb}.st113,.st114{fill:none}.st113{stroke-width:4;stroke:#7dd1e9}.st114{stroke:#000}.st115,.st116,.st117{display:inline;fill:#58595a}.st116,.st117{fill:#d485b8}.st117{fill:#ece830}.st118{fill:none}.st119{fill:#7f777f}.st120,.st121{fill:#ffe1c0}.st122,.st123,.st124{display:inline;fill:#ebe84b}.st123,.st124{fill:#a95aa3}.st124{fill:#7dd1e9}.st126,.st127{fill:#825422}.st127{display:inline;stroke:#825422;stroke-width:7.874;stroke-miterlimit:10}.st128,.st129{fill:#262524;stroke:#262524;stroke-width:5.5056;stroke-miterlimit:10}.st129{stroke-width:3.4877}.st130{fill:#1b1a1b}.st131{fill:#757273}.st1320{fill:#282728}

/*Animation for miku icon */
	.music-icon:hover #earphones_miku {
	  -webkit-animation: turn 1s;
	          animation: turn 1s;
	  -webkit-transform: turn(25deg);
	          transform: turn(0deg);
	  -webkit-animation-direction: alternate;
	          animation-direction: alternate;
  }

	.music-icon:hover #skin {
	-webkit-animation: turn 1s;
					animation: turn 1s;
	-webkit-transform: turn(25deg);
					transform: turn(0deg);
	-webkit-animation-direction: alternate;
					animation-direction: alternate;
	}

	.music-icon:hover #eyes {
	-webkit-animation: turn 1s;
					animation: turn 1s;
	-webkit-transform: turn(25deg);
					transform: turn(0deg);
	-webkit-animation-direction: alternate;
					animation-direction: alternate;
	}

	.music-icon:hover #miku_hair {
	-webkit-animation: turn 1s;
					animation: turn 1s;
	-webkit-transform: turn(25deg);
					transform: turn(0deg);
	-webkit-animation-direction: alternate;
					animation-direction: alternate;
	}

	.music-icon:hover #pigtails_x5F_miku {
	-webkit-animation: turn 1s;
					animation: turn 1s;
	-webkit-transform: turn(25deg);
					transform: turn(0deg);
	-webkit-animation-direction: alternate;
					animation-direction: alternate;
	}

	.music-icon:hover #miku_x5F_ornaments {
	-webkit-animation: turn 1s;
					animation: turn 1s;
	-webkit-transform: turn(25deg);
					transform: turn(0deg);
	-webkit-animation-direction: alternate;
					animation-direction: alternate;
	}

  /*J-rock svg*/
  .music-icon:hover #sunglasses_j-rock {
  -webkit-animation: turn 1s;
          animation: turn 1s;
  -webkit-transform: turn(25deg);
          transform: turn(0deg);
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  }

  .music-icon:hover #moustache_j-rock {
  -webkit-animation: turn 1s;
          animation: turn 1s;
  -webkit-transform: turn(25deg);
          transform: turn(0deg);
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  }

  .music-icon:hover #beard_j-rock {
  -webkit-animation: turn 1s;
          animation: turn 1s;
  -webkit-transform: turn(25deg);
          transform: turn(0deg);
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  }


  .music-icon:hover #HAT {
  -webkit-animation: turn 1s;
          animation: turn 1s;
  -webkit-transform: turn(25deg);
          transform: turn(0deg);
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  }
  .music-icon {
    width: 40em;
  }
  .music-icon:hover #musical_notes {
    opacity: 1;
  }

  .music-icon:hover {
    transform: scale(1.05);
    cursor: pointer;
  }

  /*music note actions*/

  #musical_notes {
    opacity: 0;
  }

  #musical_notes .music_note:nth-child(1) { animation-delay: 0s; }
  #musical_notes .music_note:nth-child(2) { animation-delay: 0.5s; }
  #musical_notes .music_note:nth-child(3) { animation-delay: 1s; }

  .music-icon:hover .music_note {
    -webkit-animation:melody 1s infinite ease-in;
    -moz-animation:melody 1s infinite ease-in;
    -ms-animation:melody 1s infinite ease-in;
    animation:melody 1s infinite ease-in;
  }

  @-webkit-keyframes melody {
    0% { fill-opacity: 0; }
    50% { fill-opacity: 0.5 }
    100% { fill-opacity: 1 }
  }

  .play_pause_button {
    font-size: 20px;
    background-color: #add7ef;
    border-radius: 10px;
  }
